alembic==1.5.5
anyio==2.1.0
argon2-cffi==20.1.0
astropy==4.1
async-generator==1.10
attrs==20.3.0
awscli==1.16.210
Babel==2.9.0
backcall==0.2.0
backports.functools-lru-cache==1.6.1
basemap==1.2.0
beautifulsoup4==4.8.0
bleach==3.3.0
blinker==1.4
botocore==1.12.200
brotlipy==0.7.0
Cartopy==0.16.0
certifi==2021.5.30
certipy==0.1.3
cffi==1.14.5
cftime==1.0.3.4
chardet==3.0.4
colorama==0.3.9
configobj==5.0.6
contextvars==2.4
cryptography==3.4.4
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
docutils==0.14
entrypoints==0.3
future==0.18.2
gitdb==4.0.10
GitPython==3.1.18
gudhi==3.1.1
h5py==2.9.0
healpy==1.12.9
idna==2.10
immutables==0.15
importlib-metadata==3.4.0
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.17.2
Jinja2==2.10.1
jmespath==0.10.0
joblib==1.1.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-offlinenotebook==0.2.1
jupyter-resource-usage==0.5.1
jupyter-server==1.4.0
jupyter-server-mathjax==0.2.3
jupyter-telemetry==0.1.0
jupyterhub==1.2.2
jupyterlab==3.0.7
jupyterlab-git==0.41.0
jupyterlab-github==3.0.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
more-itertools==8.8.0
nbclassic==0.2.6
nbclient==0.5.2
nbconvert==6.0.7
nbdime==3.2.1
nbformat==5.1.2
nest-asyncio==1.4.3
netCDF4==1.4.2
netcdftime==1.0.0a2
notebook==6.2.0
nteract-on-jupyter==2.1.3
numpy==1.17.0
oauthlib==3.0.1
olefile==0.46
OWSLib==0.19.2
packaging==20.9
pamela==1.0.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.1.0
pluggy==0.13.1
podaacpy==2.2.1
POT==0.7.0
prometheus-client==0.9.0
prompt-toolkit==3.0.16
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pycurl==7.43.0.6
pyepsg==0.4.0
Pygments==2.8.0
PyJWT==2.0.1
pykdtree==1.3.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyproj==1.9.5.1
pyresample==1.12.3
pyrsistent==0.17.3
pyshp==2.1.3
PySocks==1.7.1
pytest==6.2.4
pytest-runner==5.3.1
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==2.0.1
pytz==2021.1
PyYAML==5.1
pyzmq==22.0.3
requests==2.25.1
rsa==3.4.2
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.2.1
scikit-learn==0.24.2
scipy==1.3.0
seaborn==0.11.2
Send2Trash==1.5.0
Shapely==1.6.4.post1
six==1.15.0
smmap==3.0.5
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.3.23
terminado==0.9.2
testpath==0.4.4
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.32.1
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.12.1
zipp==3.4.0
